[submodule "bgfx"]
	path = bgfx
	url = https://github.com/Rex-22/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/Rex-22/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/Rex-22/bimg.git